Source: ngdevkit-toolchain
Section: contrib/devel
Priority: optional
Maintainer: Damien Ciabrini <damien.ciabrini@gmail.com>
Build-Depends: debhelper (>= 10),
  make, autoconf, automake, pkg-config,
  gcc, g++, flex, bison, gawk, realpath, gettext,
  bzip2, lzma, xz-utils,
  libboost-dev, libexpat1-dev, libgc-dev, libgmp-dev,
  libipt-dev, libmpc-dev, libmpfr-dev, libncurses5-dev, libreadline-dev
Standards-Version: 4.1.2
Homepage: https://github.com/dciabrin/ngdevkit-toolchain
Vcs-Git: https://github.com/dciabrin/ngdevkit-toolchain.git

Package: ngdevkit-toolchain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: Open source development for Neo-Geo
 ngdevkit is a C/C++ software development kit for the Neo-Geo AES or
 MVS hardware. This package provides the toolchain of the toolkit.
