#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- prefix=/usr libexecdir=/usr/lib

override_dh_auto_install:
	dh_auto_install -- --eval 'override scriptdir = /usr/lib/m68k-neogeo-elf' --eval 'override sdcc_libdir = $$(DESTDIR)/usr/z80-neogeo/lib'
